<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <%if (user) { %>
      <a class="login-oauth" href="/logout">Logout</a>
    <% } else %>
    <a class="google-oauth" href="/auth/google">Login</a>
  </nav>
  </body>
</html>
