<!DOCTYPE html>
<html>
  <head>
  
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <nav>
          <a class="login-oauth" href="/logout">Logout</a>
          </nav>
    <h1> Welcome Brooke! </h1>
    <a href="/views/users/reminders.ejs">Calendar</a>
    <a href="/shopfors">Shopping List</a>
  </body>
</html>
